.about {
  .page-header {
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__content {
    @media (min-width: $screen-md) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    h2 {
      font-weight: 500;
      font-size: 3rem;
      margin: 6rem 0 3rem;

      @media (min-width: $screen-md) {
        margin-top: 0;
      }
    }

    h3 {
      text-transform: none;
      font-weight: 400;
      font-size: 2.8rem;
      margin: 0 0 4rem;
    }

    p:last-child {
      margin-bottom: 0;
    }

    > img {
      margin: 0 auto;
      display: block;

      @media (min-width: $screen-md) {
        width: 47.3%;
        margin: 0;
      }
    }

    .text-with-icon {
      display: flex;
      align-items: center;

      .icon {
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
      }
    }
  }

  &__copy {
    max-width: 42rem;
    margin: 0 auto;

    @media (min-width: $screen-md) {
      margin: 0;
      max-width: none;
      width: 42%;
    }

    a {
      color: black;
    }
  }
}
