.case-studies-index {
  display: flex;
  flex-direction: column;
  margin: -1rem;

  @media (min-width: $screen-sm) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -1%;
  }

  &__item {
    position: relative;
    margin: 1rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    &::after {
      content: '→';
      position: absolute;
      opacity: 0;
      bottom: 2rem;
      right: 2rem;
      transition: 0.3s ease-out;
      font-size: 3.2rem;
      color: white;
    }

    &:hover {
      &::after {
        opacity: 1;
        right: 3rem;
      }

      .case-studies-index__image {
        transform: scale(1.1);

        &::before {
          opacity: 1;
        }
      }
    }

    @media (min-width: $screen-sm) {
      width: 48%;
      margin: 1%;
    }

    @media (min-width: $screen-md) {
      height: 38rem;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -2;
    transition: transform 0.62s cubic-bezier(0.05,0.2,0.1,1);

    &::before {
      content: '';
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(black, 0.5);
      z-index: -1;
      transition: opacity 0.62s cubic-bezier(0.05,0.2,0.1,1);
    }
  }

  &__content {
    background: linear-gradient(rgba(black, 0), rgba(black, 0.6));
    padding: 8rem 3rem 3rem;
  }

  &__heading, &__tagline {
    color: white;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(black, 0.4);
  }

  &__heading {
    font-weight: 500;
    font-size: 2.3rem;
  }

  &__tagline {
    font-weight: 300;
    font-size: 2.2rem;
    margin-top: 1rem;
    text-transform: none;
    max-width: 35rem;
    line-height: 1.3;
  }
}

.case-study {
  h1 {
    margin-bottom: 5rem;
  }

  h2 {
    max-width: 50rem;
  }

  &__link {
    margin-top: 5rem;
  }

  &__challenge {
    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;

      > div {
        width: 46%;
      }
    }
  }

  &__objective {
    font-family: $font-heading;
    font-weight: 200;
    font-size: 4.6rem;
    letter-spacing: 0.4px;
    max-width: 75rem;
  }

  &__section {
    margin-top: 10rem;

    &:first-of-type {
      margin-top: 0;
    }

    @media (min-width: $screen-lg + 100px) {
      margin-left: -50px;
      margin-right: -50px;
    }

    h3 {
      margin-top: 0;
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--centered_content {
    text-align: center;

    p {
      max-width: 55rem;
      margin-left: auto;
      margin-right: auto;
    }

    pre {
      margin-top: 5rem;
    }
  }

  &--content_2_columns {
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .case-study--column-copy {
        width: 31%;
      }

      .case-study--column-media {
        width: 63%;
      }

      &:nth-child(odd) {
        .case-study--column-copy {
          order: 1;
        }
      }
    }

    p {
      font-size: 1.6rem;
    }

    img {
      margin-top: 3rem;

      @media (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }

  &__results {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: -2rem -3rem;

    @media (min-width: $screen-sm) {
      justify-content: space-around;
      text-align: left;
      margin: -2rem -4rem;
    }

    &__item {
      margin: 2rem 3rem;

      @media (min-width: $screen-sm) {
        margin: 2rem 4rem;
      }
    }

    &__value {
      color: darken($color-base, 10%);
      font-family: $font-heading;
      font-size: 4rem;
      font-weight: 500;
    }

    &__metric {
      font-family: $font-heading;
      font-weight: 300;
      font-size: 2rem;
      line-height: 1.3;
    }
  }

  &__testimonial {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      justify-content: center;
    }

    &__photo {
      margin-bottom: 2rem;
      text-align: center;

      @media (min-width: $screen-sm) {
        margin: 0 5rem 0 0;
      }

      @media (min-width: $screen-md) {
        margin-right: 7rem;
      }
    }

    &__image {
      width: 14rem;
      height: 14rem;
      margin: 0 auto 2rem;

      img {
        border-radius: 50%;
      }
    }

    &__author-name {
      font-weight: 700;
      font-size: 1.7rem;
    }

    &__author-title {
      font-size: 1.5rem;
      margin-top: 0.3rem;

      a {
        color: $color-primary;
      }
    }

    &__content {
      position: relative;
      margin: -1rem 0;

      @media (min-width: $screen-sm) {
        flex: 1;
      }

      i {
        position: absolute;
        top: -4rem;
        left: -4rem;
        transform: scaleX(-1);
        font-size: 14rem;
        color: darken(white, 10%);
        z-index: -1;

        @media (min-width: $screen-md) {
          left: -5rem;
          top: -5rem;
          font-size: 16rem;
        }
      }
    }

    &__quote {
      font-size: 1.6rem;
      font-style: italic;
    }
  }

  &__next {
    display: block;
    margin-top: 12rem;

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        width: 50%;
      }
    }

    &__copy {
      height: 14rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (min-width: $screen-sm) {
        padding: 3rem 3rem 3rem 6rem;
      }

      @media (min-width: $screen-md) {
        padding: 5rem 5rem 5rem 10rem;
      }
    }

    &__heading {
      margin: 0;

      .weaker {
        opacity: 0.8;
      }
    }

    &__tagline {
      font-family: $font-heading;
      font-size: 2.2rem;
      font-weight: 300;
      line-height: 1.3;
      margin-top: 1rem;
    }

    &__image {
      height: 20rem;
      margin: 3rem -3rem -3rem;
      background-size: cover;
      background-position: center;
      border-radius: 0 0 $ui-border-radius $ui-border-radius;

      @media (min-width: $screen-sm) {
        margin: -3rem 0 -3rem -3rem;
        flex: 1;
        order: -1;
        height: 30rem;
        border-radius: $ui-border-radius 0 0 $ui-border-radius;
      }

      @media (min-width: $screen-md) {
        height: 35rem;
      }
    }
  }
}
