.contact {
  &__content {
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__copy {
    @media (min-width: $screen-md) {
      width: 32%;
    }

    h2 {
      margin-bottom: 4rem;

      @media (min-width: $screen-md) {
        max-width: 30rem;
      }
    }

    p {
      font-size: 1.5rem;
    }

    a {
      color: $color-primary;
    }
  }

  &__availability-notice {
    margin: 4rem 0 0;
    font-weight: 400;
    font-size: 1.8rem;

    strong {
      font-weight: 500;
    }
  }

  &__form {
    margin-top: 4rem;

    @media (min-width: $screen-md) {
      width: 58%;
      margin-top: -1.5rem;
    }

    &__submit {
      margin-top: 3rem;

      @media (min-width: $screen-xs) {
        width: auto;
      }
    }

    &__text-fields {
      @media (min-width: $screen-sm) {
        display: flex;
        justify-content: space-between;

        > fieldset {
          flex: 1;

          &:first-child {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  &__map {
    margin-top: 12rem;
    height: 35rem;

    @media (min-width: $screen-sm) {
      height: 40rem;
    }

    @media (min-width: $screen-md) {
      height: 50rem;
    }
  }
}
