.home {
  &__hero {
    &__heading {
      font-size: 4rem;
      letter-spacing: 0;
      margin-bottom: 5rem;

      @media (min-width: $screen-md) {
        font-size: 4.4rem;
      }
    }

    &__subheading {
      text-transform: none;
      font-weight: 400;
      font-size: 3.2rem;
      max-width: 46rem;
      letter-spacing: 0;

      @media (min-width: $screen-md) {
        font-size: 3.6rem;
        max-width: 53rem;
      }
    }

    &__buttons {
      margin-top: 7rem;

      .ui-button:last-child {
        margin-left: 2rem;
      }
    }
  }

  &__client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -2rem;

    @media (min-width: $screen-md) {
      justify-content: space-between;
      margin: -2rem -1rem;
    }

    &__item {
      margin: 2rem 3rem;
      opacity: 0.7;
      transition: opacity 0.15s ease-out;

      @media (min-width: $screen-sm) {
        margin: 2rem 6rem;
      }

      @media (min-width: $screen-md) {
        margin: 2rem 3rem;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__intro {
    margin: 10rem auto -2rem;
    max-width: 90rem;

    strong {
      font-size: 110%;
      display: block;
      margin: 4rem 0 -0.5rem 0;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;

      > div {
        width: 46%;
      }
    }
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-sm) {
      display: block;
    }

    &__item {
      margin-top: 12rem;
      max-width: 45rem;
      text-align: center;

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(even) {
        @media (min-width: $screen-sm) {
          .home__benefits__copy {
            order: 1;
          }
        }
      }

      @media (min-width: $screen-sm) {
        text-align: left;
        max-width: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    h3 {
      margin-top: 0;
    }

    &__copy {
      @media (min-width: $screen-sm) {
        max-width: 42rem;
      }
    }

    &__image {
      margin: 6rem auto 0;
      width: 32rem;

      @media (min-width: $screen-sm) {
        width: auto;
        margin: 0;
      }
    }

    &__divider {
      max-width: 89rem;
    }
  }

  &__lead-magnet {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      text-align: left;
      justify-content: center;
    }

    @media (min-width: $screen-md) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    h3 {
      text-transform: none;
      margin: 0;
      font-weight: 400;
      font-size: 2.4rem;
    }

    p {
      font-size: 1.6rem;
    }

    &__copy {
      max-width: 42rem;
      margin: 0 auto;

      @media (min-width: $screen-sm) {
        width: 56%;
        margin: 0;
        order: 1;
      }
    }

    &__cta {
      margin-top: 1rem;
    }

    &__image {
      margin-top: 6rem;
      max-width: 30rem;
      display: flex;
      align-items: center;

      @media (min-width: $screen-sm) {
        margin: 1rem 8% 0 0;
        max-width: none;
        width: 35%;
      }

      @media (min-width: $screen-md) {
        margin-top: 1.5rem;
      }

      img {
        @media (min-width: $screen-lg) {
          width: 33rem;
        }
      }
    }
  }
}
