.template-landing .main {
  padding-top: 12rem;
}

.landing {
  &__section {
    margin-top: 12rem;
  }

  &__hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      justify-content: center;
      text-align: left;
    }

    h1, h2 {
      font-size: 3.2rem;
    }

    &__copy {
      @media (min-width: $screen-sm) {
        width: 50%;
        order: 1;
      }

      @media (min-width: $screen-md) {
        width: 60%;
      }
    }

    &__heading {
      margin: 0;
      letter-spacing: 1px;
    }

    &__subheading {
      text-transform: none;
      font-weight: 300;
      font-size: 3.5rem;
      line-height: 1.4;
      margin: 4rem auto 0;
      max-width: 42rem;

      @media (min-width: $screen-sm) {
        margin-left: 0;
      }

      strong {
        font-weight: 400;
      }
    }

    &__image {
      margin-top: 6rem;
      text-align: right;

      @media (min-width: $screen-sm) {
        margin-right: 10rem;
        margin-top: 0;
      }
    }
  }

  &__form {
    margin-top: 5rem;

    @media (min-width: $screen-xs) {
      display: flex;
      justify-content: center;
    }

    @media (min-width: $screen-sm) {
      justify-content: flex-start;
    }

    &--footer {
      margin-top: 12rem;

      @media (min-width: $screen-sm) {
        justify-content: center;
      }
    }

    fieldset {
      margin: 0;
    }

    input[type=email] {
      min-width: 23rem;
    }

    &__button {
      margin-top: 2rem;
      width: 100%;

      @media (min-width: $screen-xs) {
        margin: 0 0 0 2rem;
        width: auto;
      }
    }
  }

  &__bullet_list {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;

    h3 {
      text-align: center;
      margin-top: 0;
    }

    ul {
      margin-top: 3rem;
    }

    li {
      font-size: 1.9rem;
      margin: 2.5rem 0;
    }
  }

  &__faq {
    h4 {
      margin: 0;
    }

    p {
      margin: 1rem 0 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -4rem;

      @media (min-width: $screen-md) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: -3rem;
      }

      @media (min-width: $screen-lg) {
        margin: -4rem;
      }
    }

    &__item {
      margin-top: 4rem;
      max-width: 40rem;

      @media (min-width: $screen-md) {
        margin: 3rem;
      }

      @media (min-width: $screen-lg) {
        margin: 4rem;
      }
    }
  }
}
