.services-list {
  @media (min-width: $screen-sm) {
    display: flex;
    justify-content: center;
    margin: -2%;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-md) {
    margin: -3%;
  }

  &__item {
    display: block;
    margin-top: 6rem;

    @media (min-width: $screen-sm) {
      margin: 2%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 46%;
    }

    @media (min-width: $screen-md) {
      margin: 3%;
      padding: 4rem;
      width: 44%;
    }

    h3 {
      margin: 0 2rem 0 0;
    }

    p {
      font-size: 1.6rem;
      color: lighten($color-base, 10%);
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &__price {
      font-family: $font-heading;
      font-weight: 300;
      font-size: 2rem;
    }

    &__body {
      margin-top: 3.5rem;
    }

    &__link {
      margin-top: 1.5rem;
    }
  }
}

.service {
  h1, h2, &__cta {
    text-align: center;
  }

  h1 {
    margin-bottom: 5rem;
  }

  h2 {
    max-width: 35rem;
    margin: 0 auto;
  }

  &__cta {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .discount {
      margin: 3rem auto 0;
      max-width: 35rem;
      padding: 1.5rem 2rem;
      border-radius: $ui-border-radius;
      border: 1px solid black;
      background: darken(white, 2%);

      &__heading {
        text-transform: uppercase;
        font-family: $font-heading;
        font-weight: 500;
        font-size: 1.7rem;
      }

      &__price {
        margin-top: 0.7rem;
        font-size: 1.7rem;

        .old {
          text-decoration: line-through;
          opacity: 0.5;
        }

        .new {
          font-weight: 700;
        }
      }
    }

    .error {
      margin: 2rem auto 0;
      max-width: 35rem;
      font-size: 1.7rem;
      color: $color-danger;
    }
  }

  &__body {
    margin: 12rem auto 0;
    max-width: 60rem;
  }
}
