.ui-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  transition: 0.15s ease;
  border-radius: 2px;
  font-family: $font-heading;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  height: 4.6rem;
  line-height: 4rem;
  letter-spacing: 0.5px;
  padding: 0 1.8rem;
  position: relative;

  &:active, &:focus {
    outline: none;
  }

  &::after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: -0.1rem;
    right: 0.3rem;
    transition: 0.15s ease-out;
    font-size: 1.8rem;
  }

  &:hover {
    padding-left: 1.2rem;
    padding-right: 2.4rem;

    &::after {
      opacity: 1;
      right: 0.9rem;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &--default {
    border: 2px solid lighten($btn-default-bg, 10%);
    color: $btn-default-color;

    &:active, &:visited, &:focus {
      color: $btn-default-color;
    }
  }

  &--primary {
    border: 2px solid transparent;
    background: $btn-primary-bg;
    color: $btn-primary-color;

    &:active, &:visited, &:focus {
      color: $btn-primary-color;
    }
  }

  &--no-hover {
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
