fieldset {
  border: none;
  margin: 2.5rem 0 0;
  padding: 0;

  &.error {
    input, textarea {
      border-color: rgba($color-danger, 0.6);
    }
  }
}

input, textarea {
  font-family: $font-base;
  color: $color-base;
  background: none;
  padding: 1.1rem 1.8rem;
  width: 100%;
  border: 1px solid darken(white, 30%);
  border-radius: 2px;
  transition: 0.15s ease-out;
  line-height: 1.5;
  outline: none;
  font-size: 1.5rem;

  &:focus {
    background: white;
    outline: none;
    border-color: darken(white, 40%);
  }

  &::placeholder {
    color: lighten($color-base, 20%);
  }

  &.error {
    border-color: $color-danger;
  }
}

textarea {
  min-height: 10rem;
}

.sr-only {
  display: none;
}

.field-error {
  color: $color-danger;
  font-size: 1.4rem;
  margin-top: 0.7rem;
  padding-left: 0.6rem;
}

.user-feedback {
  margin-top: 1.5rem;
  font-family: $font-heading;
  font-weight: 300;
  font-size: 3rem;
}
