.map {
  .gm-style {
    font-family: $font-base;

    .gm-style-iw {
      font-weight: 400;
      padding: 5px 2px;

      .line-1 {
        font-weight: 700;
        font-size: 15px;
      }

      .line-2 {
        margin-top: 6px;
      }
    }
  }
}
