.guide {
  max-width: 58rem;
  margin: 0 auto;

  h2 {
    margin-top: 8rem;
  }

  .page-header h1, .subheading {
    text-align: center;
  }

  .page-header h1 {
    // max-width: 30rem;
    margin-bottom: 0;
    letter-spacing: 0.5px;
  }

  .subheading {
    margin: 4rem 0 10rem;
    text-transform: none;
    font-weight: 300;
    line-height: 1.4;
    font-size: 3.2rem;
    opacity: 0.9;
  }
}

