$header-border-color: darken(white, 5%);

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  transition: box-shadow 0.1s ease-out;

  @media (min-width: $screen-sm) {
    position: static;
    background: none;
  }

  &--open {
    box-shadow: none;

    .header__nav {
      opacity: 1;
      max-height: 9rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    }
  }

  &--fixed {
    position: fixed;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 12rem;
    opacity: 0.8;
  }

  &__nav {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    flex: 0;
    max-height: 0;
    background: white;
    padding: 1.5rem 0;
    transition: opacity 0.15s ease-out;

    @media (min-width: $screen-sm) {
      opacity: 1;
      flex: 1;
      padding: 0;
      box-shadow: none !important;
      max-height: none;
      position: static;
      background: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @media (min-width: $screen-sm) {
        justify-content: flex-end;
      }

      li {
        margin: 0;

        &.current-menu-item a {
          color: lighten(black, 30%);
        }

        &:last-child a {
          @media (min-width: $screen-sm) {
            padding-right: 0;
          }
        }
      }

      a {
        display: block;
        padding: 1.5rem 2rem;
        font-family: $font-heading;
        font-size: 1.4rem;
        letter-spacing: 1px;
        color: lighten(black, 50%);
        text-transform: uppercase;
        transition: 0.15s ease-out;

        @media (min-width: $screen-sm) {
          color: darken(white, 35%);

          &:hover {
            color: lighten(black, 30%);
          }
        }
      }
    }
  }

  &__toggle {
    width: 5.5rem;
    height: 5.5rem;
    position: relative;
    margin-right: -2rem;

    @media (min-width: $screen-sm) {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 40%;
      background: lighten($color-base, 20%);
      opacity: 1;
      left: 28%;
      transform: rotate(0deg);
      transition: 0.2s ease-out;

      &:nth-child(1) {
        top: 36%;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 48%;
      }

      &:nth-child(4) {
        top: 60%;

        @media (min-width: $screen-md) {
          top: 59%;
        }
      }
    }

    &--open {
      span {
        &:nth-child(1) {
          top: 48%;
          width: 0%;
          left: 40%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 48%;
          width: 0%;
          left: 40%;
        }
      }
    }
  }

  &__spacer {
    @media (min-width: $screen-sm) {
      height: 12rem;
    }

    @media (min-width: $screen-lg) {
      height: 11rem;
    }
  }

  &__spacer-nav {
    display: none;

    @media (min-width: $screen-sm) {
      height: $header-height;
    }
  }
}
