.main {
  padding-top: 14rem;
  padding-bottom: 12rem;
  min-height: 50rem;

  @media (min-width: $screen-sm) {
    padding-top: 10rem;
  }

  @media (min-width: $screen-lg) {
    padding-top: 9rem;
  }

  p, li {
    a {
      color: $color-tertiary;
      transition: color 0.15s ease-out;

      &:hover {
        color: lighten($color-tertiary, 8%);
      }
    }
  }

  hr {
    border-top: none;
    border-bottom: 1px solid darken(white, 15%);
  }
}

.section {
  &__divider {
    font-size: 2rem;
    font-family: $font-heading;
    color: darken(white, 40%);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin: 12rem auto;
    display: flex;
    align-items: center;

    @media (min-width: $screen-sm) {
      margin-top: 14rem;
      margin-bottom: 14rem;
    }

    &--smaller {
      font-size: 1.7rem;
    }

    &--heading {
      margin-bottom: 5rem;
    }

    &::before, &::after {
      height: 1px;
      flex: 1;
      content: '';
      border-bottom: 1px solid #E6E6E6;
    }

    &::before {
      margin-right: 4rem;
    }

    &::after {
      margin-left: 4rem;
    }
  }
}

.content {
  &__panel {
    background: white;
    box-shadow: 0 15px 35px rgba(50,50,93,0.06), 0 5px 15px rgba(0,0,0,0.03);
    border-radius: $ui-border-radius;
    padding: 3rem;

    &--hover {
      transition: 0.15s ease;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 18px 35px rgba(50,50,93,0.08), 0 8px 15px rgba(0,0,0,0.05);
      }
    }
  }
}

.page-footer {
  &__cta {
    margin-bottom: 2rem;
    color: lighten(black, 30%);
    font-size: 2.4rem;
    transition: color 0.15s ease-out;

    &:hover {
      color: lighten(black, 10%);
    }

    &::before, &::after {
      border-color: darken(white, 15%);
    }
  }
}
