html {
  font-size: 10px;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    font-size: 9px;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font-base;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-base;
  background: linear-gradient(white, darken(white, 2%));
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.template-guide {
    background: white;
  }
}

h1, h2, h3 {
  font-family: $font-heading;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  color: lighten(black, 20%);
}

h1 {
  color: lighten(black, 10%);
  font-size: 3.4rem;
  margin-bottom: 10rem;
  letter-spacing: 2px;

  @media (min-width: $screen-sm) {
    margin-bottom: 12rem;
  }
}

h2 {
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: 0.5px;
}

h3 {
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 0.2px;
  margin: 8rem 0 2.5rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 900;
  margin: 4rem 0 2rem;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: 1.7rem;
  line-height: 1.7;
  margin: 2.5rem 0;

  .larger {
    font-size: 105%;
  }

  .smaller {
    font-size: 95%;
  }
}

ul {
  margin: 0;
  padding-left: 3rem;
}

li {
  font-size: 1.7rem;
  margin: 2rem 0;
}

img, .html5-video {
  max-width: 100%;
  height: auto;
}

.html5-video {
  width: 100%;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  height: 100%;
  padding: 0 3rem;

  @media (min-width: $screen-sm) {
    padding: 0 4rem;
  }

  @media (min-width: $screen-md + 80px) {
    padding: 0;
  }
}
