// fonts
$font-base: 'Lato', Arial, sans-serif;
$font-heading: 'Oswald', Arial, sans-serif;

// colors
$color-base: #4a4a4a;
$color-primary: black;
$color-secondary: #737373;
$color-tertiary: #6E199A;

$color-success: #14C84B;
$color-danger: darken(red, 15%);

// layout
$spacer: 2rem;
$ui-border-radius: 3px;
$container-max-width: 1000px;
$sidebar-width: 25rem;
$header-height: 6.5rem;

// screen sizes
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 1000px;
$screen-lg: 1200px;

// buttons
$btn-default-bg: $color-secondary;
$btn-default-color: $color-secondary;
$btn-primary-bg: black;
$btn-primary-color: white;
